@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.book {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rbga(0, 0,0 , 0.5);
  flex-direction: column;
  border: 1px solid black;
  padding: 6px;
  border-radius: 4px;
}

.cover img{
    margin: auto;
    clip-path: circle(100px at center);
    padding-top:6px;
    padding-bottom: 6px;
}

.title {

        font-size: $typographic-base-font-size * 2;
        max-width: $layout-post-single-width;
        margin-left: auto;
        margin-right: auto;
        font-weight: 600;
        text-align: center;
        @include line-height(1.65);
        @include margin-top(1);
        @include margin-bottom(0);
}

.details {
  display: flex;
  flex-direction: column;
}

.tags {
    margin: auto;
}

.rating {
    display: flex;
    align-items: center;
    justify-content: center;
}
.star-rating {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .star {
    cursor: pointer;
    width: 2em;
    height: 2em;
    background-color: grey;
    -webkit-clip-path: polygon(
      50% 0%,
      63% 38%,
      100% 38%,
      69% 59%,
      82% 100%,
      50% 75%,
      18% 100%,
      31% 59%,
      0% 38%,
      37% 38%
    );
    clip-path: polygon(
      50% 0%,
      63% 38%,
      100% 38%,
      69% 59%,
      82% 100%,
      50% 75%,
      18% 100%,
      31% 59%,
      0% 38%,
      37% 38%
    );
  }
  
  .star.selected {
    background-color: red;
  }

  .finished {
      margin: auto;
  }
  .tag {
      background-color: #e8e8e8;
      padding-top: 4px;
      padding-bottom: 4px;
      padding-left: 6px;
      padding-right: 6px;
      border-radius: 2px;
  }