/*! purgecss start ignore */
@tailwind base;
@tailwind components;
/*! purgecss end ignore */
@tailwind utilities;

a {
  @apply text-orange;
}
a:hover {
  @apply text-black;
}

p {
  @apply pb-4;
}

h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}

ol {
  @apply list-disc;
}

button {
  @apply m-3;
  @apply border;
  @apply rounded;
  @apply bg-gray-200;
  @apply px-4;
  @apply py-2;
}

.star {
  width: 1.5em;
  height: 1.5em;
  background: grey;
  clip-path: polygon(
    50% 0,
    63% 38%,
    100% 38%,
    69% 59%,
    82% 100%,
    50% 75%,
    18% 100%,
    31% 59%,
    0 38%,
    37% 38%
  );
}

.selected {
  background: red;
}
